* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
b {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Hed */
.search-form{
  display: flex;
  justify-content: center;
  padding: 15px 0;
  background-color: azure;
  border-bottom: 1px solid green;
}
.search-form input{
  width: 350px;
  height: 30px;
  padding-left: 10px;
  border-radius: 4px;
  border: none;
  outline: 1px solid rgba(72, 255, 0, 0.322);
}
.search-form input:hover,
.search-form input:focus{
  background-color: rgba(72, 255, 0, 0.322);
}

.search-form button{
  outline: 1px solid rgba(72, 255, 0, 0.322);
}
.search-form button:hover{
  outline: 1px solid rgba(72, 255, 0, 0.322);
  background-color: rgba(72, 255, 0, 0.322);
}


/* div */
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}
.gallery__link {
  width: 350px;
  height: 350px;
}
.photo-card{
  display: flex;
  flex-direction: column;
  width: 280px;
  margin-bottom: 20px;
  border-radius: 1.5px;
  color: rgb(128, 128, 128);
  outline: 0.1px solid rgba(0, 0, 0, 0.192);
}
.photo-card:hover,
.photo-card.focus{
  color:black;
  background-color: rgba(0, 0, 0, 0.048);
}
.photo-card img{
  width: 100%;
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}

/* more */
.btn-more{
  display: flex;
  justify-content: center;
}

.load-more{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 40px;
  border-radius: 3px;
  background-color: rgb(141, 141, 141);
}
.load-more:hover{
  background-color: rgba(72, 255, 0, 0.322);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}